[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "aquodom"]
	path = aquodom
	url = https://github.com/redtent/aquodom
[submodule "twn"]
	path = twn
	url = https://github.com/redtent/twn
